<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visa Card</title>
</head>

<body>
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 20px;">
        <i class="fab fa-cc-visa"></i><br>Visa Card</h1>

    <p style="text-align: center;">
        VISA) is an American multinational financial services corporation headquartered in Foster City, California, United States.[4] It facilitates electronic funds transfers throughout the world, most commonly through Visa-branded credit cards, debit cards and prepaid
        cards.  Visa is one of the world's most valuable companies.
    </p>
    <p style="text-align: center;">
        Visa does not issue cards, extend credit or set rates and fees for consumers; rather, Visa provides financial institutions with Visa-branded payment products that they then use to offer credit, debit, prepaid and cash access programs to their customers.
    </p>
    <p style="text-align: center;">
        In 2015, the Nilson Report, a publication that tracks the credit card industry, found that Visa's global network (known as VisaNet) processed 100 billion transactions during 2014 with a total volume of US$6.8 trillion.
    </p>

    <!-- <h1 style="text-align: center; margin-top: 50px;">Apply for Visa Card</h1>

    <div class="btn-apply" style="text-align: center;">
        <button class=" btn btn-primary " style="background: crimson;" [routerLink]="[ 'create-employee'] " routerLinkActive="router-link-active ">Apply Now</button>
    </div> -->
</body>

</html>