<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Loan</title>
</head>

<body>

    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 20px;"><i class="fas fa-user-friends"></i><br>Car Loan</h1>

    <p style="text-align: center;">A home equity loan is a type of loan in which the borrower uses the equity of his or her home as collateral. The loan amount is determined by the value of the property, and the value of the property is determined by an appraiser from the lending institution.
        Home equity loans are often used to finance major expenses such as home repairs, medical bills, or college education.
    </p>
    <p style="text-align: center;">
        A home equity loan creates a lien against the borrower's house and reduces actual home equity. Most home equity loans require good to excellent credit history, reasonable loan-to-value and combined loan-to-value ratios.
    </p>
    <p style="text-align: center;">
        Home equity loans come in two types: closed end (traditionally just called a home-equity loan) and open end (a.k.a. a home-equity line of credit). Both are usually referred to as second mortgages, because they are secured against the value of the property,
        just like a traditional mortgage.
    </p>


</body>

</html>