<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rupay Card</title>
</head>

<body>
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 20px;"><i class="fas fa-rupee-sign"></i><br>Rupay Card
    </h1>

    <p style="text-align: center;">RuPay (portmanteau of Rupee and Payment) is an Indian multinational financial services and payment service system, conceived and launched by the National Payments Corporation of India (NPCI) on 26 March 2012. It was created to fulfil the Reserve Bank
        of India's (RBI) vision of establishing a domestic, open and multilateral system of payments. RuPay facilitates electronic payment at all Indian banks and financial institutions.

    </p>
    <p style="text-align: center;">
        NPCI maintains ties with Discover Financial, JCB to enable RuPay card scheme to gain international acceptance. In 2019, RuPay reported 100 crore (1 billion) transactions through both online and offline payment modes.
    </p>
    <p style="text-align: center;">

        All merchant discount rate (MDR) charges were eliminated for RuPay transactions from 1 January 2020. All Indian companies with an annual turnover exceeding ₹50 crore (US$6.6 million) are required to offer RuPay payment options to their customers
    </p>

    <!-- <h1 style="text-align: center; margin-top: 50px;">Apply for Rupay Card</h1>

    <div class="btn-apply" style="text-align: center;">
        <button class=" btn btn-primary " style="background: crimson;" [routerLink]="[ 'create-employee'] " routerLinkActive="router-link-active ">Apply Now</button>
    </div> -->
</body>

</html>