<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Loan</title>
</head>

<body>
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 20px;"><i class="fas fa-user-shield"></i><br>Personal Loan</h1>

    <p style="text-align: center;">Personal Loan is an unsecured credit provided by financial institutions based on criteria like employment history, repayment capacity, income level, profession and credit history. Personal Loan, which is also known as a consumer loan is a multi-purpose
        loan, which you can use to meet any of your immediate needs.
    </p>
    <p style="text-align: center;">
        In finance, a loan is the lending of money by one or more individuals, organizations, or other entities to other individuals, organizations etc. The recipient (i.e., the borrower) incurs a debt and is usually liable to pay interest on that debt until
        it is repaid as well as to repay the principal amount borrowed.
    </p>
    <p style="text-align: center;">
        The document evidencing the debt (e.g., a promissory note) will normally specify, among other things, the principal amount of money borrowed, the interest rate the lender is charging, and the date of repayment. A loan entails the reallocation of the subject
        asset(s) for a period of time, between the lender and the borrower.
    </p>

    <!-- <h1 style="text-align: center; margin-top: 50px;">Apply for Personal Loan</h1> -->

    <!-- <div class="btn-apply" style="text-align: center;">
        <button class=" btn btn-primary " style="background: crimson;" [routerLink]="[ 'create-employee'] " routerLinkActive="router-link-active ">Apply Now</button>
    </div> -->
</body>

</html>