<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Account</title>
</head>

<body>
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 20px;"><i class="fas fa-sack-dollar"></i><br>Current Account</h1>

    <p style="text-align: center;">Current bank account is opened by businessmen who have a higher number of regular transactions with the bank. It includes deposits, withdrawals, and contra transactions. It is also known as Demand Deposit Account. In current account, amount can be
        deposited and withdrawn at any time without giving any notice.
    </p>


</body>

</html>