<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving Account</title>
</head>

<body>
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 20px;"><i class="fas fa-piggy-bank"></i><br>Saving Account</h1>

    <p style="text-align: center;">
        Saving accounts are a type of deposit account kept by banks that pay interest. They let a person keep some of their money in the bank for immediate use. They also earn money through interest. Having a savings account in a bank allows a person to have
        money available for an emergency. Savings accounts may be opened at most banks, credit unions and trust companies.
        <br><br><br> <button type="button" class="btn  btn-info btn-lg active" (click)="btnClick();"><i class="fa fa-plus"></i> Create Account</button>
        <!-- <br><br><br> <button type="button" class="btn  btn-info btn-lg active" (click)="btnClick();"><i class="fa fa-plus"></i> Create Account</button> -->

    </p>





</body>

</html>