<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Loan</title>
</head>

<body>
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 20px;"><i class="fas fa-car"></i><br>Car Loan</h1>

    <p style="text-align: center;">An Car Loan is taken by borrowers to purchase a new or used private or commercial vehicle. Car loans are secured loans where the vehicle itself is used as a collateral.

    </p>
    <p style="text-align: center;">
        Lenders fix interest rates depending on the type of vehicle and loan amount. Interest rates are usually fixed for auto loans.
    </p>

    <p style="text-align: center;">
        For most people, an car loan means a secured, simple-interest loan for a car bought from a dealership. If this is true for you, the best way to make sure you get the best deal is to ask the dealer to beat an auto loan preapproval you got directly from
        a lender.
    </p>



</body>

</html>